body, html{
  height: 100%;
  background-repeat: no-repeat;
  background: radial-gradient(#aaa, #555, #2c2c2c);
  font-family: 'Cinzel', serif;
}

.main{
margin-top: 70px;
}

h1.title { 
font-size: 75px;
font-family: 'Cinzel', serif;
color: aliceblue;
font-weight: 400; 
transition: 2s;
animation: fadein 2s;
}

hr{
  width: 10%;
  color: #fff;
  animation: grow 2s;
}

.form-group{
margin-bottom: 15px;
color: #222;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
 font-size: 14px;
 padding-top: 3px;
 color: #aaa !important;
 border-color: #aaa !important;
}

input[type=text], input[type=password] {
  background-color: rgba(75, 75, 75, .3);
  color: aliceblue !important;
  transition:.2s;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #555;
  transition: .3s;
}

.main-login{
background-color: rgb(160, 160, 160);
 /* shadows and rounded borders */
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 border-radius: 2px;
 -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
margin-top: 30px;
margin: 0 auto;
max-width: 330px;
 padding: 40px 40px;
}

.login-button{
margin-top: 5px;
}

.login-register{
font-size: 11px;
text-align: center;
}

.tab {
  margin: auto;
  overflow: hidden;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  background-color: #bbb;
  font-size: 18px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  padding: 14px 16px;
  width: 50%;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #555;
  color: aliceblue;
}

.login-error {
  color: darkred;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

@keyframes fadein {
  from { opacity: 0; height: 0%; }
  to   { opacity: 1; height: 100%; }
}

@keyframes grow {
  from { width: 0%; }
  to { width: 10%; }
}
