<!DOCTYPE html>
<html>
<head>
    <script src="/client/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/client/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/client/node_modules/socket.io-client/dist/socket.io.slim.js"></script>
    <script src="/client/js/client.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
    <link rel="stylesheet" href="/client/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/client/css/signin.css" />
</head>
<body>
    <div id="startDiv" class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Realm's End</h1>
                    <hr/>
                </div>
            </div>
            <div class="loading hidden" style="text-align: center">
                <svg width="200px"  height="200px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;"><path ng-attr-d="{{config.pathCmd}}" ng-attr-fill="{{config.color}}" stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#bebebe" transform="rotate(186 50 51)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></path></svg>
            </div>
            <div class="main-login main-center">
                <div id="login-tabs" class="tab cols-sm-10">
                    <button id="show-login" value="login">Log in</button>
                    <button id="show-register" value="register">Register</button>
                </div>
                <div id="register-message"></div>
                <div id="login-message"></div>
                <form id="register" class="form-horizontal" action="#">
                    <div class="form-group">
                        <label for="register-username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <input type="text" class="form-control" name="name" id="register-username"  placeholder="Enter a username..."
                                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-email" class="cols-sm-2 control-label">Email</label>
                        <div class="cols-sm-10">
                            <input type="text" class="form-control" name="email" id="register-email"  placeholder="Enter your email..."
                                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <input type="password" class="form-control" name="password" id="register-password"  placeholder="Enter your password..."
                                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-confirm" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="cols-sm-10">
                            <input type="password" class="form-control" name="confirm" id="register-confirm"  placeholder="Confirm your password..."
                                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="submit" id="submit-register" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                    </div>
                </form>
                <form id="login" class="form-horizontal" action="#">
                    <div class="form-group">
                        <label for="login-username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <input type="text" class="form-control" name="name" id="login-username"  placeholder="Enter a username..."
                                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login-password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <input type="password" class="form-control" name="password" id="login-password"  placeholder="Enter your password..."
                                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="submit" id="submit-login" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="game"></div>
</body>
</html>
